<div class="container border border-primary rounded">
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="text-center">Distance</th>
        <th class="text-center">Time</th>
        <th class="text-center">Arm Freq.</th>
        <th class="text-center">Total Time</th>
      </tr>
    </thead>
  </table>
</div>