 <%= turbo_stream.replace "stopwatch-div" do %>
  <turbo-frame id="stopwatch-div">
    <div id="stopwatch" class="text-center"><%= Time.at(@race.checkpoints.sum(:elapsed_time)).strftime("%M:%S.%L") %></div>
  </turbo-frame>
<% end %>
<%= turbo_stream.replace "times-list" do %>
  <turbo-frame id="times-list">
    <%= render partial: 'races/checkpoints_list', locals: { race: @race } %>
  </turbo-frame>
<% end %>