<%= form_with url: races_save_time_path, data: { controller: 'races' } do |f| %>
<div class="d-flex flex-column">
  <div id="flagwatch" class="text-center">00:00:00.000</div>
  <div id="stopwatch" class="text-center">00:00:00.000</div>
  <div class="d-flex gap-3">
  <%= f.submit("Start", data: { action: 'click->races#start', }, class: 'btn btn-success flex-fill', id: 'btn-start') %>
  <%= f.submit("Check", data: { action: 'click->races#setcheck', }, class: 'btn btn-secondary flex-fill') %>
  <%= f.submit("End", data: { action: 'click->races#end', }, class: 'btn btn-danger flex-fill', disabled: true, id: 'btn-stop') %>
  </div>
</div>
<% end %>
